doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../../static/css/reset.css')
  body
    block content
  script(data-main="../../static/js/require.config.js",src="../../static/js/libs/require.js")