extends layout
block content
	-for(var i in data.res) {
		-var dataVal = data.res[i];
		-for(var i = 0, len = dataVal.length; i < len; i++) {
			-var items = dataVal[i];
			-for(var j in items) {
				-if (j == 'date') {
					a(href="/detail?date="+ items[j]) #{items[j]}
				-}
			-}
		-}
	-}
	<img src="/create_qrcode?text=http://www.baidu.com"/>